@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    color: #000;
}
.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

/*! HEADER BLOCK =============================================================  */
.header {
    width: 100%;
    height: auto;
    background-color: navajowhite;
}

.header__inner {
    display: flex;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 20px 15px;
    
}

.header-logo {
    transition: .2s;
}

.header-logo:hover{
    opacity: .7;
}

.header-logo img {
    width: 120px;
}
.nav {
    height: auto;
    width: auto;
}

.nav a {
    font-weight: 400;
    font-size: 18px;
    transition: .2s;
    margin-top: 10px;
}

.nav a:not(:last-child){
    margin-right: 20px;
}

.nav a:hover{
    
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.nav a:visited {
    color: gray;
}

.nav a:visited:hover{
    border-bottom: 2px solid red;
}


/*! INTRO BLOCK =============================================================  */
.intro {
    width: 98%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}
.intro__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}
.intro-left {
    width: 45%;
}
.intro-up__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 40%;
}

.intro-up__inner img {
    width: 20px;
}
.intro-slogan {
    font-weight: 300;
    font-size: 20px;
}
.intro-title {
    font-size: 50px;
    margin: 30px 0;
    font-weight: 900;
    text-shadow: 2px 1px 0px grey;
}
.intro-text {
    font-weight: 300;
    margin-bottom: 50px;
}
.intro-btns {
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-wrap: wrap;
}

.btn {
    padding: 30px 20px;
    border: 2px solid blue;
    border-radius: 50px;
    margin: 10px;
    transition: .3s;
}

.btn1 {
    background-color: blue;
    color: #fff;
}

.btn1:hover{
    background-color: transparent;
    color: #000;
}

a .btn2{
    color: #000;
}

.btn2:hover {
    background-color: blue;
    color: #fff;
}


.intro-right {
    width: auto;
}

.intro-right img{
    width: 500px;
    box-shadow: 2px 2px 30px green;
    transition: .2s;
}

.intro-right img:hover{
    width: 500px;
    box-shadow: -2px -2px 30px red;
    rotate: 15deg;
}


/*! ABOUTBLOCK =============================================================  */
.about {
    width: 100%;
    height: 100%;
    background-color: beige;
    padding: 100px 0 50px 0;
}
.about-title {
    padding-left: 5px;
    border-left: 3px solid goldenrod;
    font-weight: 600;
}
.about__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.about-left {
    width: 60%;
}

.about-text1{
    margin: 30px 0;
}
.about-text2{
    width: 45%;
}
.about-text3{
    width: 45%;
}
.about-subtitle {
    font-size: 30px;
    margin-top: 20px;
}
.about-text-down__inner {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    justify-content: space-between;
}
.about-right img {
    width: 350px;
    transition: .2s;
}

.about-right img:hover{
    rotate: -30deg;
}



/*! MEDIA SCREENS =============================================================  */
@media screen and (max-width:1440px){
    .btn {
        font-size: 15px;
        padding: 20px 15px;
    }

    .intro-btns {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:980px){
    .about__inner{
        justify-content: center;
    }
}


@media screen and (max-width:940px){
    .intro-title {
        text-align: center;
    }

    .intro-up__inner {
        width: 100%;
        justify-content: center;
    }

    .intro-left {
        width: 90%;
        text-align: center;
        justify-content: center;
        margin: 0 auto 100px;
    }
}

@media screen and (max-width: 560px) {
    .intro-right img{
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .intro-right img{
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .intro-title {
        font-size: 40px;
    }

    .intro-slogan {
        font-size: 14px;
    }

    .intro-right img{
        width: 230px;
    }

    .about-right img{
        width: 200px;
    }
}


@media screen and (max-width: 260px) {
    .intro-right img{
        width: 200px;
    }
}

@media screen and (max-width: 220px) {
    .intro-right img{
        width: 150px;
    }
}