.contacts {
    width: 100%;
    height: auto;
    padding: 150px 0;
}
.contacts__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contacts-map {
}
.contacts-form {
    margin-left: 10px;
}

.contacts-form input{
    background-color: rgb(255 205 205);
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px 15px;
}

.contacts-form textarea {
    padding: 20px 15px;
    margin-top: 20px;
    background-color: rgb(255 205 205);
}

.contacts-form p {
    margin: 20px 0;
}

.form__inner {
    display: flex;
    flex-direction: column;
}
.button-submit {
    width: 150px;
    padding: 15px 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(255, 94, 94);
    transition: .2s;
}

.button-submit:hover {
    opacity: .5;
}

/*! MEDIA SCREENS ===================================================  */
@media screen and (max-width:1070px) {
    .contacts__inner {
        justify-content: center;
    }
    .contacts-form {
        order: 1;
        margin-bottom: 20px;
    }
    .contacts-map {
        order: 2;
    }
    .button-submit {
        margin: 0 auto;
    }
}

@media screen and (max-width: 695px){
    .contacts-map {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 340px){
    .contacts-map {
        width: 200px;
        height: 200px;
    }
    .contacts-form textarea {
        width: 170px;
        height: 50px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 265px){
    .contacts-map {
        width: 150px;
        height: 100px;
    }
}

@media screen and (max-width: 225px){
    .contacts-form textarea {
        width: 130px;
        height: 50px;
        margin: 20px auto;
    }

    .contacts-form input{
        width: 110px;
        margin: 20px auto 0px;
    }
}